.app {
  background-color: black;
}
.notFound {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.notFound_heading {
  color: white;
}
.notFound_btn {
  background-color: #e50914;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  border: none;
  font-weight: 600;
  margin-top: 20px;
}
